# Секреты для Postgres и Flask
POSTGRES_DB=your_flask_db
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_super_secure_pass
SECRET_KEY=your_highly_confidential_flask_key

# Секреты для pgAdmin
PGADMIN_DEFAULT_EMAIL=example@example.com
PGADMIN_DEFAULT_PASSWORD=your_password